/*--------------------------- Reset ---------------------------*/
html, body, div, span, applet, 
object, iframe, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 3.2rem;
  vertical-align: baseline;
}

h2 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 2.4rem;
  vertical-align: baseline;
}

h3 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1.872rem;
  vertical-align: baseline;
}

h4, p, a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1.6rem;
  vertical-align: baseline;
}

a:link {
  color: (internal value);
}
a:visited {
  color: (internal value);
}
a:link:active {
  color: (internal value);
}
a:visited:active {
  color: (internal value);
}

h5 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1.328rem;
  vertical-align: baseline;
}

h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1.072rem;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body,
#root {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  height: 100%;
  font-size: 62.5%;
  min-height: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

img {
  width: 100%;
}
/*-------------------------- Globals --------------------------*/
.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  background-image: linear-gradient(
    to right,
    rgba(0,135,206,0.8),
    rgba(0,135,206,0.8)
  ),url('./img/background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.display-none {
  display: none;
}

@keyframes bounce-arrow-before {
  from {
    top: -5%;
  }
  to {
    top: 1%;
  }
}

@keyframes bounce-arrow-after {
  from {
    top: 11%;
  }
  to {
    top: 17%;
  }
}
/*-------------------------- Desktop --------------------------*/
.a-intro-bottom-click {
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
  height: 20vh;
  text-decoration: none;
  overflow: hidden;
}
.a-intro-bottom-click:hover {
  cursor: pointer;
}
.a-intro-bottom-click:hover .div-bouncing-arrow::before {
  border-bottom: 5px solid rgba(0,0,0,0.7);
  border-right: 5px solid rgba(0,0,0,0.7);
}
.a-intro-bottom-click:hover .div-bouncing-arrow::after {
  border-bottom: 5px solid rgba(0,0,0,0.7);
  border-right: 5px solid rgba(0,0,0,0.7);
}

.button-about-left-tab {
  background: none;
  color: #ffffff;
  font-size: 2.2rem;
  font-weight: 300;
  padding: 0.8rem 1.5rem;
  border: none;
  outline: none;
  user-select: none;
}

.button-about-left-tab:hover {
  background: rgba(30,144,255,0.4);
  cursor: pointer;
}

.button-about-left-tab-selected {
  background: #1e90ff;
  color: #000000;
  font-size: 2.2rem;
  font-weight: 300;
  padding: 0.8rem 1.5rem;
  border: none;
  outline: none;
  user-select: none;
}

.button-about-left-tab-selected:hover {
  cursor: pointer;
}

.div-about {
  display: flex;
  width: 100%;
  Color: #ffffff;
  background-color: #060c16;
}

.div-about-left {
  display: block;
  padding: 5rem 1rem;
  width: 49.9%;
}

.div-about-left h1 {
  font-weight: 300;
  text-align: center;
}

.div-about-left-movies-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.div-about-left-movies-content ul {
  width: 26rem;
  max-width: 26rem;
  height: 17rem;
  max-height: 17rem;
}

.div-about-left-movies-content ul li {
  font-size: 1.6rem;
  line-height: 2.5rem;
}

.div-about-left-music-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.div-about-left-music-content ul {
  width: 26rem;
  max-width: 26rem;
  height: 17rem;
  max-height: 17rem;
}

.div-about-left-music-content ul li {
  font-size: 1.6rem;
  line-height: 2.5rem;
}

.div-about-left-video-games-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.div-about-left-video-games-content ul {
  width: 26rem;
  max-width: 26rem;
  height: 17rem;
  max-height: 17rem;
}

.div-about-left-video-games-content ul li {
  font-size: 1.6rem;
  line-height: 2.5rem;
}

.div-about-left-tabs {
  display: flex;
  width: 70%;
  border-bottom: 1px solid #1e90ff;
  margin: 5rem auto 2rem;
}

.div-about-right {
  padding: 5rem;
  width: 49.9%;
}

.div-about-right h1 {
  font-weight: 300;
  text-align: center;
}

.div-left-triangle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 20vh solid #ffffff;
  border-right: 100vw solid transparent;
}

.div-right-triangle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-bottom: 20vh solid #ffffff;
  border-left: 100vw solid transparent;
}

#intro {
  position: relative;
  min-height: 100vh;
}

.div-intro-background-window {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
  color: #ffffff;
}

.div-intro-background-window p:first-child {
  margin: 21rem 0 1.5rem;
}

.div-intro-background-window p:last-child {
  margin: 1.5rem 0 0;
}

.div-intro-background-window h1 {
  font: 700 40px/1.2 Raleway, sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0.5rem 0 0.5rem;
}

.div-bouncing-arrow {
  position: relative;
  width: 100%;
  height: 100%;
}

.div-bouncing-arrow::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 25px;
  height: 25px;
  transform: translate(-50%) rotate(45deg);
  border-bottom: 4px solid #ffffff;
  border-right: 4px solid #ffffff;
  border-radius: 4px;
  -moz-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-before;
  -webkit-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-before;
  animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-before;
}

.div-bouncing-arrow::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 25px;
  height: 25px;
  transform: translate(-50%) rotate(45deg);
  border-bottom: 4px solid #ffffff;
  border-right: 4px solid #ffffff;
  border-radius: 4px;
  -moz-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-after;
  -webkit-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-after;
  animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-after;
}

.header {
  display: block;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
}

.nav-desktop {
  display: flex;
  position: relative;
  justify-content: space-around;
  width: 100%;
}

.a-nav-desktop-item {
  color: white;
  text-decoration: none;
  padding: 2rem;
  transition: color 0.6s;
  user-select: none;
}

.a-nav-desktop-item:hover {
  color: #1e90ff;
  cursor: pointer;
}

.a-nav-desktop-item:active {
  color: #1e90ff;
}


/*-------------------------- Tablet ---------------------------*/
.nav-tablet {
  display: none;
  position: relative;
  width: 100%;
}

.div-nav-tablet-row-one {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.div-nav-tablet-row-one {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.a-nav-tablet-item {
  color: #ffffff;
  text-decoration: none;
  padding: 2rem;
}

.a-nav-tablet-item:active {
  color: #1e90ff;
}

@media (max-width: 1024px) {
  .nav-desktop {display: none;}
  .nav-tablet {display: block;}
}

/*--------------------------- Phone ---------------------------*/