/*=============================================================*/
/*=========================== Reset ===========================*/
/*=============================================================*/
html, body, div, span, applet, 
object, iframe, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 3.2rem;
  vertical-align: baseline;
}
h2 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 2.4rem;
  vertical-align: baseline;
}
h3 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1.872rem;
  vertical-align: baseline;
}
h4, p, a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1.6rem;
  vertical-align: baseline;
}
a:link {
  color: (internal value);
}
a:visited {
  color: (internal value);
}
a:link:active {
  color: (internal value);
}
a:visited:active {
  color: (internal value);
}
h5 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1.328rem;
  vertical-align: baseline;
}
h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1.072rem;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body,
#root {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  height: 100%;
  font-size: 62.5%;
  min-height: 100%;
}
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
img {
  width: 100%;
}

@font-face {
  font-family: "8 bit";
  src: url('./fonts/press-start-2-p-regular.eot'); /* IE9 Compat Modes */
  src: url('./fonts/press-start-2-p-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/press-start-2-p-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/press-start-2-p-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('./fonts/press-start-2-p-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./fonts/press-start-2-p-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/*=============================================================*/
/*========================== Globals ==========================*/
/*=============================================================*/
.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  background-image: linear-gradient(
    to right,
    rgba(0,135,206,0.8),
    rgba(0,135,206,0.8)
  ),url('./img/background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.display-none {
  display: none!important;
}
.display-flex-420 {
  display: none!important;
}
.remove-flex-420 {
  display: flex!important;
}
/*=============================================================*/
/*=========================== Header ==========================*/
/*=============================================================*/
.div-header-nav {
  display: block;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
}
.nav-desktop {
  display: flex;
  position: relative;
  justify-content: space-around;
  width: 100%;
}
.header-nav-link {
  color: #ffffff;
  text-decoration: none;
  padding: 2rem;
  transition: color 0.6s;
  user-select: none;
}
.header-nav-link:hover {
  color: #1e90ff;
  cursor: pointer;
}
.header-nav-link--active {
  color: #1e90ff;
}

/*--------------------------- mobile --------------------------*/
.nav-tablet {
  display: none;
  position: relative;
  width: 100%;
}
.nav-phone {
  display: none;
  position: relative;
  width: 100%;
}

/*=============================================================*/
/*=========================== Pages ===========================*/
/*=============================================================*/

/*=========================== Intro ===========================*/
.div-intro {
  position: relative;
  min-height: 100vh;
}
.div-intro-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  color: #ffffff;
}
.div-intro-content-container {
  display: block;
  width: 100%;
  max-width: 768px;
  padding: 0 9px;
  margin: -10% auto 0;
  text-align: center;
}
.div-intro-content-container h1 {
  font: 700 4rem/1.2 Raleway, sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 1.5rem 0;
}
.a-intro-bottom-click {
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
  height: 20vh;
  text-decoration: none;
  overflow: hidden;
}
.a-intro-bottom-click:hover {
  cursor: pointer;
}
.a-intro-bottom-click:hover .div-intro-bouncing-arrow::before {
  border-bottom: 5px solid rgba(0,0,0,0.7);
  border-right: 5px solid rgba(0,0,0,0.7);
}
.a-intro-bottom-click:hover .div-intro-bouncing-arrow::after {
  border-bottom: 5px solid rgba(0,0,0,0.7);
  border-right: 5px solid rgba(0,0,0,0.7);
}
.div-intro-bouncing-arrow {
  position: relative;
  width: 100%;
  height: 100%;
}
.div-intro-bouncing-arrow::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 25px;
  height: 25px;
  transform: translate(-50%) rotate(45deg);
  border-bottom: 4px solid #ffffff;
  border-right: 4px solid #ffffff;
  border-radius: 4px;
  -moz-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-before;
  -webkit-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-before;
  animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-before;
}
.div-intro-bouncing-arrow::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 25px;
  height: 25px;
  transform: translate(-50%) rotate(45deg);
  border-bottom: 4px solid #ffffff;
  border-right: 4px solid #ffffff;
  border-radius: 4px;
  -moz-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-after;
  -webkit-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-after;
  animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-after;
}

.div-intro-left-triangle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 20vh solid #ffffff;
  border-right: 100vw solid transparent;
}

.div-intro-right-triangle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-bottom: 20vh solid #ffffff;
  border-left: 100vw solid transparent;
}




@keyframes bounce-arrow-before {
  from {
    top: 0vh;
  }
  to {
    top: 2vh;
  }
}
@keyframes bounce-arrow-after {
  from {
    top: 3vh;
  }
  to {
    top: 5vh;
  }
}

/*=========================== About ===========================*/
.div-about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  Color: #ffffff;
  background-image: url('./img/blue-waves-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.div-about-content-container {
  display: block;
  width: 100%;
  max-width: 1024px;
  padding: 70px 12px 40px;
}
.div-about-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.5);
  border-radius: 2rem;
}
.div-about-carousel-slide-container {
  display: block;
  width: 860px;
  opacity: 1;
  transition: all 1000ms ease-in-out; /* double size of about-carousel-slide-hide */
}
.about-carousel-slide-container-hide {
  opacity: 0;
  pointer-events: none;
  transition: all 500ms ease-in-out;
}
.div-about-carousel-buttons-title {
  display: flex;
  margin: 20px 0 0;
}
.div-about-carousel-buttons-title h1 {
  width: 400px;
  padding-top: 5px;
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
  text-shadow: 0.3rem 0.4rem #000000;
}
.div-about-carousel-buttons-title button {
  width: 70px;
  padding: 10px 0;
  font-size: 3rem;
  color: #ffffff;
  background-color: #0087ce;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}
.div-about-carousel-buttons-title button:hover {
  color: #0087ce;
  background-color: #ffffff;
}
.div-about-carousel-dots {
  display: flex;
  margin: 10px 0;
}
.div-about-carousel-dots .dot-action {
  padding: 10px;
  cursor: pointer;
}
.div-about-carousel-dots .dot-action:hover .dot {
  background-color: rgba(0, 0, 246, 0.2);
}
.div-about-carousel-dots .dot {
  min-width: 20px;
  width: 20px;
  max-width: 20px;
  min-height: 20px;
  height: 20px;
  max-height: 20px;
  border-radius: 50%;
  border: 2px solid #0000f6;
}
.div-about-carousel-dots .selected {
  background-color: #0000f6!important;
}
.div-about-carousel-window {
  overflow: hidden;
  max-width: 860px; /* 140px less than div-about-carousel */
  height: 720px;
  margin: 0;
}
.div-about-carousel-inner {
  display: flex;
  width: 2580px;
  position: relative;
  transition: right 0.5s ease-in-out;
}
.div-about-carousel-inner-on-slide-one {
  right: 0px;
}
.div-about-carousel-inner-on-slide-two {
  right: 860px;
}
.div-about-carousel-inner-on-slide-three {
  right: 1720px;
}
.button-about-fun-tab {
  background: none;
  color: #191970;
  font-size: 2.2rem;
  font-weight: 300;
  padding: 0.8rem 1.5rem;
  border: none;
  outline: none;
  user-select: none;
}
.button-about-fun-tab:hover {
  background: rgba(25,25,112,0.2);
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  cursor: pointer;
}
.button-about-fun-tab-selected {
  background: #191970;
  color: aqua;
  font-size: 2.2rem;
  font-weight: 300;
  padding: 0.8rem 1.5rem;
  border: none;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  outline: none;
  user-select: none;
}
.button-about-fun-tab-selected:hover {
  cursor: pointer;
}
.div-about-carousel-education-slide {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  opacity: 1;
}
.div-about-carousel-education-slide h1 {
  margin-bottom: 2rem;
  padding-left: 5px;
  font-size: 4rem;
  font-weight: 600;
  text-shadow: 0.3rem 0.4rem #000000;
}
.about-carousel-education-mobile-selection {
  display: none;
}
.div-about-carousel-education-row {
  display: flex;
  width: 100%;
  background-color: #191970;
}
.div-about-carousel-education-row a {
  display: block;
  width: 50%;
  background-color: #191970;
  user-select: none;
  text-decoration: none;
}
.div-about-carousel-education-row a:hover h2 {
  text-decoration: underline;
}
.about-carousel-education-top-left {
  border-right: 1px solid #00ffff;
  border-bottom: 1px solid #00ffff;
}
.about-carousel-education-top-right {
  border-bottom: 1px solid #00ffff;
  border-left: 1px solid #00ffff;
}
.about-carousel-education-bottom-left {
  border-top: 1px solid #00ffff;
  border-right: 1px solid #00ffff;
}
.about-carousel-education-bottom-right {
  border-top: 1px solid #00ffff;
  border-left: 1px solid #00ffff;
}
.div-about-carousel-education-row img {
  margin-bottom: 20px;
}
.div-about-carousel-education-row h2 {
  padding: 2rem;
  color: #00ffff;
}
.img-about-carousel-education-associates {
  width: 400px;
}
.img-about-carousel-education-bachelors {
  width: 400px;
}
.img-about-carousel-education-badge {
  width: 265px;
}
.img-about-carousel-education-books {
  width: 400px;
}
.div-about-carousel-history-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}
.div-about-carousel-history-slide h1 {
  margin-bottom: 2rem;
  font-size: 4rem;
  font-weight: 600;
  text-shadow: 0.3rem 0.4rem #000000;
}
.div-about-carousel-history-mobile-title-tabs {
  display: none;
}
.div-about-carousel-history-phone-title-tabs {
  display: none;
}
.div-about-carousel-history-slide-content h2 {
  font-size: 3.2rem;
  width: 100%;
  color: #009DFF;
  margin-bottom: 20px;
  text-decoration: underline;
}
.div-about-carousel-history-slide-content .row-container {
  margin-bottom: 40px;
}
.div-about-carousel-history-slide-content .row {
  display: flex;
  justify-content: center;
}
.div-about-carousel-history-slide-content h3 {
  margin-left: -10px;
  color: #191970;
  font-size: 3rem;
  text-align: left;
}
.h3-about-history-built {
  padding: 10px 10px 10px 48px;
  background: url('./img/built.svg');
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: 0px 3px;
}
.h3-about-history-position {
  padding: 10px 10px 10px 48px;
  background: url('./img/positions_held.svg');
  background-repeat: no-repeat;
  background-size: 75px auto;
  background-position: -20px -8px;
}
.h3-about-history-college {
  position: relative;
  padding: 10px 10px 10px 30px;
}
.h3-about-history-college img {
  position: absolute;
  left: -5px;
  top: -18px;
  min-width: 60px;
  width: 60px;
  transform: rotate(-45deg);
}
.h3-about-history-coding {
  padding: 10px 10px 10px 48px;
  background: url('./img/coding_bootcamp.gif');
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: 0px 5px;
}
.ul-about-history {
  width: 410px;
  max-width: 410px;
  margin-top: 10px;
  padding-right: 10px;
  text-align: left;
}
.ul-about-history li {
  position: relative;
  font-size: 2rem;
  font-weight: 700;
  color: #191970;
  margin-bottom: 10px;
}
.ul-about-history span {
  color: #0087ce;
}
.span-nes-logo {
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-family: "8 bit";
  color: #ff0000;
  background-color: #000000;
  padding: 5px 6px 5px 8px;
  user-select: none;
}
.p-snes-logo span {
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-family: "8 bit";
  background-color: #000000;
  user-select: none;
}
.p-snes-logo span:first-child {
  color: #0000f6;
  background-color: #000000;
  padding: 5px 0 5px 8px;
}
.p-snes-logo span:nth-child(2) {
  color: #00ac3e;
  background-color: #000000;
  padding: 5px 0;
}
.p-snes-logo span:nth-child(3) {
  color: #f60000;
  background-color: #000000;
  padding: 5px 0;
}
.p-snes-logo span:last-child {
  color: #f4f012;
  background-color: #000000;
  padding: 5px 4px 5px 0;
}
.div-sega-cd-logo {
  padding-left: 80px;
  background: url('./img/sega-cd.svg');
  background-size: 75px 23px;
  background-position: center left;
  background-repeat: no-repeat;
}
.div-sega-logo {
  padding-left: 80px;
  background: url('./img/sega.svg');
  background-size: 75px 23px;
  background-position: center left;
  background-repeat: no-repeat;
}
.div-ps-one-logo {
  padding-left: 35px;
  background: url('./img/ps-one.svg');
  background-size: 30px 23px;
  background-position: center left;
  background-repeat: no-repeat;
}
.div-ps-two-logo {
  padding-left: 80px;
  background: url('./img/ps-two.jpg');
  background-size: 75px 23px;
  background-position: center left;
  background-repeat: no-repeat;
}
.div-neo-geo-logo {
  padding-left: 28px;
  background: url('./img/neo-geo.png');
  background-size: 23px 23px;
  background-position: center left;
  background-repeat: no-repeat;
}
.div-arcade-logo {
  padding-left: 82px;
  background: url('./img/arcade.png');
  background-size: 77px 23px;
  background-position: center left;
  background-repeat: no-repeat;
}
.div-pc-gamer-logo {
  padding-left: 75px;
  background: url('./img/pc-gamer.svg');
  background-size: 80px 80px;
  background-position: center left;
  background-repeat: no-repeat;
}
.div-about-fun {
  display: block;
  width: 100%;
}
.div-about-fun h1 {
  margin-bottom: 2rem;
  padding-right: 15px;
  font-size: 4rem;
  font-weight: 600;
  text-shadow: 0.3rem 0.4rem #000000;
  text-align: center;
}
.div-about-fun-buttons {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}
.div-about-fun-buttons button {
  position: absolute;
  height: 64px;
  width: 58px;
  padding: 0 10px;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  background-color: #0087ce;
  font-size: 3rem;
  outline: none;
  cursor: pointer;
}
.div-about-fun-buttons button:hover {
  color: #0087ce;
  background-color: #ffffff;
}
.div-about-fun-buttons span {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div-about-fun-buttons .down-to-bottom svg:last-child {
  margin-top: -12px;
}
.div-about-fun-buttons .up-to-top svg:first-child {
  margin-bottom: -12px;
}
.div-about-fun-buttons .top-button {
  right: 6px;
  top: 130px;
}
.div-about-fun-buttons .bottom-button {
  right: 6px;
  bottom: 10px;
}
.div-about-fun-content {
  overflow: hidden;
}
.div-about-fun-content-lists {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
  transition: top 0.5s ease-in-out;
}
.div-about-fun-content-lists ul {
  width: 100%;
  max-width: 260px;
  height: 340px;
  padding: 0;
  margin: 0 40px 0 0;
  list-style-type:none;
}
.div-about-fun-content-lists ul:nth-child(3n) {
  margin-right: 0;
}
.div-about-fun-content-lists ul li {
  margin-bottom: 1.5rem;
}
.div-about-fun-content-lists ul p {
  color: #191970;
  line-height: 2.5rem;
  font-weight: 700;
  font-size: 1.6rem;
}
.div-about-fun-content-lists ul a {
  text-decoration: none;
}
.div-about-fun-content-lists ul a:hover {
  text-decoration: underline;
}

.div-about-fun-tabs {
  display: flex;
  width: 70%;
  border-bottom: 2px solid #191970;
  margin: 3rem auto 2rem;
}
.div-about-fun-imdb-icon {
  /* vertical-align: middle; */
  padding-left: 35px;
  /* background-color: black; */
  background-image: url('./img/imdb.svg');
  background-size: 33px 23px;
  background-repeat: no-repeat;
}
.div-about-fun-youtube-icon {
  vertical-align: middle;
  padding-left: 35px;
  background-image: url('./img/youtube-icon.svg');
  background-size: 33px 23px;
  background-repeat: no-repeat;
}

/*=============================================================*/
/*=============================================================*/
/*===================== Responsive Design =====================*/
/*=============================================================*/
/*=============================================================*/

/*=============================================================*/
/*============================ 3500 ===========================*/
/*=============================================================*/
/* @media(max-width: 3500px) {} */

/*=============================================================*/
/*============================ 2600 ===========================*/
/*=============================================================*/
/* @media(max-width: 2600px) {} */

/*=============================================================*/
/*============================ 2000 ===========================*/
/*=============================================================*/
/* @media(max-width: 2000px) {} */

/*=============================================================*/
/*============================ 1500 ===========================*/
/*=============================================================*/
/* @media(max-width: 1500px) {} */

/*=============================================================*/
/*============================ 1200 ===========================*/
/*=============================================================*/
@media (max-width: 1200px) {
  /*=========================== Header ==========================*/
  .nav-desktop {display: none;}
  .nav-tablet {display: block;}
  .div-nav-tablet-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .div-nav-tablet-row a {
    color: #ffffff;
    text-decoration: none;
    padding: 2rem;
  }
  .div-nav-tablet-row a:active {
    color: #1e90ff;
  }
  /*=========================== Intro ===========================*/
  .div-intro-content-container {
    margin-top: -15%;
  }
  .div-intro-bouncing-arrow::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 25px;
    height: 25px;
    transform: translate(-50%) rotate(45deg);
    border-bottom: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
    border-radius: 4px;
    -moz-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-before-1200;
    -webkit-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-before-1200;
    animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-before-1200;
  }
  .div-intro-bouncing-arrow::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 25px;
    height: 25px;
    transform: translate(-50%) rotate(45deg);
    border-bottom: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
    border-radius: 4px;
    -moz-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-after-1200;
    -webkit-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-after-1200;
    animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-after-1200;
  }
  /*=========================== About ===========================*/
  .div-about-content-container { padding: 140px 12px 40px; } /* Room for header */
}
@keyframes bounce-arrow-before-1200 {
  from {
    top: 0vh;
  }
  to {
    top: 1vh;
  }
}
@keyframes bounce-arrow-after-1200 {
  from {
    top: 3vh;
  }
  to {
    top: 4vh;
  }
}
/*=============================================================*/
/*============================ 1024 ===========================*/
/*=============================================================*/
@media screen and (max-width: 1024px) {
  /*=========================== About ===========================*/
  .div-about-content-container { max-width: 768px; }
  /*------------------- about-carousel-globals ------------------*/
  .div-about-carousel-dots .dot-action:hover .dot {
    background-color: inherit;
  }
  .div-about-carousel-buttons-title button {
    width: 65px;
    cursor: auto;
    font-size: 2.5rem;
  }
  .div-about-carousel-buttons-title button:hover {
    color: #ffffff;
    background-color: #0087ce;
  }
  .div-about-carousel-buttons-title h1 {
    width: 330px;
    font-size: 3.5rem;
    text-shadow: 3px 3px #000000;
  }
  .div-about-carousel-dots .dot {
    min-width: 15px;
    width: 15px;
    max-width: 15px;
    min-height: 15px;
    height: 15px;
    max-height: 15px;
  }
  .div-about-carousel-inner {
    width: 1800px;
  }
  .div-about-carousel-window {
    max-width: 600px;
    height: 400px;
  }
  .div-about-carousel-slide-container {
    width: 600px;
    height: 365px;
    overflow-y: hidden;
  }
  .div-about-carousel-inner-on-slide-two {
    right: 600px;
  }
  .div-about-carousel-inner-on-slide-three {
    right: 1200px;
  }
  /*------------------ about-carousel-education -----------------*/
  .div-about-carousel-education-slide {
    align-items: center;
    position: relative;
  }
  .about-carousel-education-mobile-selection {
    display: inline-block;
    width: 220px;
    padding: 10px 0 10px 5px;
    border: 1px solid #0000f6;
    border-radius: 7px;
    outline: #0000f6;
  }
  .div-about-carousel-education-row {
    flex-direction: column;
    height: 315px;
    overflow-y: hidden;
    position: absolute;
    top: 50px;
    background-color: transparent;
    border: none;
  }
  .div-about-carousel-education-row a {
    position: absolute;
    top: -312px;
    width: 100%;
    border: 2px solid #00ffff;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  .div-about-carousel-education-row a:hover h2 {
    text-decoration: none;
  }
  .div-about-carousel-education-row .selected {
    top: 0;
    z-index: 2;
    opacity: 1;
    pointer-events: initial;
    visibility: visible;
    transition: all 300ms ease-in-out;
  }
  .div-about-carousel-education-row h2 {
    display: none;
  }
  .div-about-carousel-education-row img {
    margin-top: 20px;
  }
  /*------------------- about-carousel-history ------------------*/
  .div-about-carousel-history-slide-content {
    position: relative;
    width: 100%;
  }
  .div-about-carousel-history-slide-content .row-container {
    margin: 0;
  }
  .div-about-carousel-history-mobile-title-tabs {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin-bottom: 20px;
  }
  .div-about-carousel-history-mobile-title-tabs button {
    width: 50%;
    padding: 10px 0;
    background-color: #191970;
    color: #00ffff;
    border: none;
    border-radius: 0;
    font-size: 1.8rem;
    font-weight: 600;
    outline: none;
  }
  .div-about-carousel-history-mobile-title-tabs .tablet-unselected {
    border-bottom: none;
  }
  .div-about-carousel-history-mobile-title-tabs .tablet-selected {
    border-bottom: 5px solid #00ffff;
  }
  .div-about-carousel-history-slide-content .tablet-selected {
    z-index: 2;
    opacity: 1;
    transition: all 300ms ease-in-out;
  }
  .div-about-carousel-history-slide-content .tablet-unselected {
    z-index: 1;
    opacity: 0;
  }
  .div-about-carousel-history-slide-content h2 {
    display: none;
  }
  .div-about-carousel-history-slide-content .row-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .div-about-carousel-history-slide-content .row {
    width: 100%;
    margin: 0;
  }
  .div-about-carousel-history-slide-content h3 {
    font-size: 2.4rem;
  }
  .h3-about-history-built {
    background-size: 30px 30px;
    background-position: 13px 6px;
  }
  .h3-about-history-position {
    background-size: 50px auto;
    background-position: 0px -2px;
  }
  .h3-about-history-college img {
    left: 2px;
    top: -12px;
    min-width: 50px;
    width: 50px;
  }
  .ul-about-history {
    max-width: 270px;
    margin-top: 0;
  }
  .ul-about-history li {
    font-size: 1.6rem;
  }
}

/*=============================================================*/
/*============================ 992 ============================*/
/*=============================================================*/
@media screen and (max-width: 992px) {
  /*=========================== Header ==========================*/
  .header-nav-link:hover {
    color: #ffffff;
    cursor: auto;
  }
  /*=========================== Intro ===========================*/
  .a-intro-bottom-click:hover {
    cursor: auto;
  }
  .a-intro-bottom-click:hover .div-intro-bouncing-arrow::before {
    border-bottom: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
  }
  .a-intro-bottom-click:hover .div-intro-bouncing-arrow::after {
    border-bottom: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
  }
}

/*=============================================================*/
/*============================ 768 ============================*/
/*=============================================================*/
@media screen and (max-width: 768px) {
  /*=========================== Header ==========================*/
  .nav-tablet {display: none;}
  .nav-phone {display: block;}
  .div-header-hamburger {
    display: block;
    width: 50px;
    margin-left: auto;
    padding: 1rem;
    cursor: pointer;
  }
  .div-header-hamburger span:first-child {
    display: block;
    position: relative;
    background-color: rgba(255,255,255,0.8);
    width: 3rem;
    height: 0.3rem;
    margin-bottom: 0.7rem;
  }
  .div-header-hamburger span:nth-child(2) {
    display: block;
    background-color: rgba(255,255,255,0.8);
    width: 3rem;
    height: 0.3rem;
    margin-bottom: 0.7rem;
    visibility: hidden;
  }
  .div-header-hamburger span:last-child {
    display: block;
    position: relative;
    background-color: rgba(255,255,255,0.8);
    width: 3rem;
    height: 0.3rem;
  }
  /*=========================== Intro ===========================*/
  .div-intro-content-container {
    max-width: 576px;
  }
  .div-intro-content-container h1 {
    font: 700 2.7rem/1.2 Raleway, sans-serif;
  }
  .div-intro-content-container p {
    font-size: 1.5rem;
  }
  .div-intro-content-container p:first-child {
    margin: -4rem 0 1.5rem 0;
  }
  /*=========================== About ===========================*/
  .div-about-content-container {
    max-width: 576px;
    padding: 70px 12px 40px;
  }
  /*------------------- about-carousel-globals ------------------*/
  .div-about-carousel-buttons-title button {
    width: 60px;
    font-size: 2rem;
  }
  .div-about-carousel-buttons-title h1 {
    width: 290px;
    font-size: 3rem;
    text-shadow: 2px 3px #000000;
  }
  .div-about-carousel-window {
    max-width: 420px;
  }
  .div-about-carousel-slide-container {
    width: 420px;
  }
  .div-about-carousel-inner-on-slide-two {
    right: 420px;
  }
  .div-about-carousel-inner-on-slide-three {
    right: 840px;
  }
  /*------------------ about-carousel-education -----------------*/
  .div-about-carousel-education-row a {
    padding: 0 8px;
  }
  .div-about-carousel-education-row a {
    top: -232px;
  }
  .img-about-carousel-education-associates {
    width: 100%;
  }
  .img-about-carousel-education-bachelors {
    width: 100%;
  }
  .img-about-carousel-education-badge {
    width: 65%;
  }
  .img-about-carousel-education-books {
    width: 100%;
  }
  /*------------------- about-carousel-history ------------------*/
  .div-about-carousel-history-mobile-title-tabs {
    display: none;
  }
  .div-about-carousel-history-phone-title-tabs {
    display: block;
    width: 100%;
  }
  .div-about-carousel-history-phone-title-tabs .tab-row {
    display: flex;
    width: 100%;
  }
  .div-about-carousel-history-phone-title-tabs button {
    width: 50%;
    padding: 12px 0 12px 50px;
    background-color: #00ffff;
    color: #191970;
    border: none;
    border-radius: 0;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: left;
    outline: none;
  }
  .div-about-carousel-history-phone-title-tabs .phone-selected {
    border-bottom: 3px solid #191970;
    transition: all 300ms ease-in-out;
  }
  .div-about-carousel-history-phone-title-tabs .phone-unselected {
    border-bottom: 3px solid #00ffff;
  }
  .btn-about-history-built {
    background: url('./img/built.svg');
    background-repeat: no-repeat;
    background-size: 30px auto;
    background-position: 10px 8px;
  }
  .btn-about-history-position {
    background: url('./img/positions_held.svg');
    background-repeat: no-repeat;
    background-size: 50px auto;
    background-position: 0 -2px;
  }
  .btn-about-history-college {
    position: relative;
  }
  .btn-about-history-college img {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 50px;
    width: 50px;
  }
  .btn-about-history-coding {
    background: url('./img/coding_bootcamp.gif');
    background-repeat: no-repeat;
    background-size: 40px auto;
    background-position: 5px 5px;
  }
  .div-about-carousel-history-slide-content .row {
    position: relative;
  }
  .div-about-carousel-history-slide-content .section-phone-view {
    position: absolute;
    width: 100%;
    padding-top: 10px;
    border-right: 2px solid #00ffff;
    border-bottom: 2px solid #00ffff;
    border-left: 2px solid #00ffff;
  }
  .div-about-carousel-history-slide-content .tablet-selected {
    z-index: auto;
    transition: none;
  }
  .div-about-carousel-history-slide-content .tablet-unselected {
    z-index: auto;
    opacity: 1;
  }
  .div-about-carousel-history-slide-content .phone-selected {
    z-index: 2;
    opacity: 1;
    transition: all 300ms ease-in-out;
  }
  .div-about-carousel-history-slide-content .phone-unselected {
    z-index: 1;
    opacity: 0;
  }
  .h3-about-history-built {
    display: none;
  }
  .h3-about-history-position {
    display: none;
  }
  .h3-about-history-college {
    display: none;
  }
  .h3-about-history-coding {
    display: none;
  }
  .ul-about-history {
    max-width: none;
    width: 100%;
    margin: 0;
    padding-left: 30px;
  }
  .ul-about-history li {
    font-size: 2rem;
  }
}

/*=============================================================*/
/*============================ 576 ============================*/
/*=============================================================*/
@media screen and (max-width: 576px) {
  /*=========================== Intro ===========================*/
  .div-intro-content-container {
    max-width: 420px;
  }
  .div-intro-content-container p:not(:last-child) {
    margin: 0 0 2rem 0;
  }
  .div-intro-content-container h1 {
    margin: 0 0 2rem 0;
  }
  .div-intro-bouncing-arrow::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 25px;
    height: 25px;
    transform: translate(-50%) rotate(45deg);
    border-bottom: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
    border-radius: 4px;
    -moz-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-before-576;
    -webkit-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-before-576;
    animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-before-576;
  }
  
  .div-intro-bouncing-arrow::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 25px;
    height: 25px;
    transform: translate(-50%) rotate(45deg);
    border-bottom: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
    border-radius: 4px;
    -moz-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-after-576;
    -webkit-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-after-576;
    animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-after-576;
  }
  /*=========================== About ===========================*/
  .div-about-content-container {
    max-width: 420px;
  }
  /*------------------- about-carousel-globals ------------------*/
  .div-about-carousel-buttons-title button {
    width: 55px;
    font-size: 1.6rem;
  }
  .div-about-carousel-buttons-title h1 {
    width: 240px;
    font-size: 2.5rem;
    text-shadow: 2px 2px #000000;
  }
  .div-about-carousel-window {
    max-width: 300px;
    height: 300px;
  }
  .div-about-carousel-slide-container {
    width: 280px;
    height: 270px;
  }
  .about-carousel-education-mobile-selection {
    display: none;
  }
  .div-about-carousel-window {
    width: 280px;
  }
  .div-about-carousel-inner-on-slide-two {
    right: 280px;
  }
  .div-about-carousel-inner-on-slide-three {
    right: 560px;
  }
  /*------------------ about-carousel-education -----------------*/
  .div-about-carousel-education-slide {
    position: initial;
  }
  .div-about-carousel-education-row {
    position: initial;
    top: auto;
    height: auto;
    width: 100%;
    overflow-y: visible;
  }
  .div-about-carousel-education-row a {
    position: initial;
    top: auto;
    width: auto;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
  }
  .div-about-carousel-education-row .selected {
    top: auto;
    z-index: auto;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transition: none;
  }
  .div-about-carousel-education-row h2 {
    display: block;
    padding: 0;
    font-size: 1.6rem;
  }
  .div-about-carousel-education-row img {
    display: none;
  }
  /*------------------- about-carousel-history ------------------*/
  .div-about-carousel-history-phone-title-tabs {
    display: flex;
  }
  .div-about-carousel-history-phone-title-tabs .tab-row {
    width: 50%;
  }
  .div-about-carousel-history-phone-title-tabs button {
    width: 50%;
    padding: 19px 0;
    font-size: 0;
    background-position: center;
  }
  .btn-about-history-college {
    padding: 0!important;
    overflow-y: hidden;
  }
  .btn-about-history-college img {
    position: absolute;
    left: 10px;
    top: -4px;
    min-width: 50px;
    width: 50px;
  }
  .div-about-carousel-history-slide-content .section-phone-view {
    height: 210px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #d3d3d3 #ffffff;
  }
  .div-about-carousel-history-slide-content .section-phone-view::-webkit-scrollbar {
    width: 11px;
  }
  .div-about-carousel-history-slide-content .section-phone-view::-webkit-scrollbar-track {
    background: #ffffff;
  }
  .div-about-carousel-history-slide-content .section-phone-view::-webkit-scrollbar-thumb {
    background-color: #d3d3d3;
    border-radius: 6px;
    border: 3px solid #ffffff;
  }
  .div-about-carousel-history-slide-content h3 {
    display: block;
    margin: 0 0 10px;
    padding: 0;
    background-image: none;
    color: #1e90ff;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
  }
  .h3-about-history-college img {
    display: none;
  }
  .h3-about-history-built::after {
    content: "";
    position: relative;
    display: block;
    width: 50%;
    margin: 0 auto;
    padding-top: 5px;
    border-bottom: 3px solid #191970;
  }
  .h3-about-history-position::after {
    content: "";
    position: relative;
    display: block;
    width: 40%;
    margin: 0 auto;
    padding-top: 5px;
    border-bottom: 3px solid #191970;
  }
  .h3-about-history-college::after {
    content: "";
    position: relative;
    display: block;
    width: 60%;
    margin: 0 auto;
    padding-top: 5px;
    border-bottom: 3px solid #191970;
  }
  .h3-about-history-coding::after {
    content: "";
    position: relative;
    display: block;
    width: 50%;
    margin: 0 auto;
    padding-top: 5px;
    border-bottom: 3px solid #191970;
  }
  .ul-about-history {
    max-width: none;
    width: 100%;
    margin: auto;
  }
  .ul-about-history li {
    font-size: 1.8rem;
  }
}

@keyframes bounce-arrow-before-576 {
  from {
    top: -1vh;
  }
  to {
    top: 1vh;
  }
}

@keyframes bounce-arrow-after-576 {
  from {
    top: 2vh;
  }
  to {
    top: 4vh;
  }
}

/*=============================================================*/
/*============================ 420 ============================*/
/*=============================================================*/
@media screen and (max-width: 420px) {
  /*========================== Globals ==========================*/
  .display-flex-420 {
    display: flex!important;
  }
  .remove-flex-420 {
    display: none!important;
  }
  /*=========================== Intro ===========================*/
  .div-intro-content-container {
    max-width: 360px;
  }
  .div-intro-bouncing-arrow::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 25px;
    height: 25px;
    transform: translate(-50%) rotate(45deg);
    border-bottom: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
    border-radius: 4px;
    -moz-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-before-420;
    -webkit-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-before-420;
    animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-before-420;
  }
  
  .div-intro-bouncing-arrow::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 25px;
    height: 25px;
    transform: translate(-50%) rotate(45deg);
    border-bottom: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
    border-radius: 4px;
    -moz-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-after-420;
    -webkit-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-after-420;
    animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-after-420;
  }
  /*=========================== About ===========================*/
  .div-about-content-container {
    max-width: 360px;
  }
  /*------------------- about-carousel-globals ------------------*/
  .div-about-carousel-buttons-title button {
    width: 50px;
    font-size: 1.4rem;
  }
  .div-about-carousel-buttons-title h1 {
    width: 210px;
    font-size: 2.2rem;
    text-shadow: 2px 2px #000000;
  }
  .div-about-carousel-dots {
    margin: 5px 0;
  }
  .div-about-carousel-dots .dot {
    min-width: 10px;
    width: 10px;
    max-width: 10px;
    min-height: 10px;
    height: 10px;
    max-height: 10px;
  }
  .div-about-carousel-window {
    width: 240px;
  }
  .div-about-carousel-slide-container {
    width: 240px;
  }
  .div-about-carousel-inner-on-slide-two {
    right: 240px;
  }
  .div-about-carousel-inner-on-slide-three {
    right: 480px;
  }
  /*------------------- about-carousel-history ------------------*/
  .btn-about-history-college img {
    position: absolute;
    left: 6px;
    top: -4px;
    min-width: 50px;
    width: 50px;
  }
  .ul-about-history {
    padding-left: 25px;
  }
  .ul-about-history li {
    font-size: 1.6rem;
  }
}

@keyframes bounce-arrow-before-420 {
  from {
    top: -1vh;
  }
  to {
    top: 1vh;
  }
}

@keyframes bounce-arrow-after-420 {
  from {
    top: 2.2vh;
  }
  to {
    top: 4.2vh;
  }
}

/*=============================================================*/
/*============================ 360 ============================*/
/*=============================================================*/
@media screen and (max-width: 360px) {
  /*=========================== Intro ===========================*/
  .div-intro-content-container {
    max-width: 320px;
  }
  .div-intro-content-container p {
    font-size: 1.4rem;
  }
  .div-intro-content-container h1 {
    font: 700 1.9rem/1.2 Raleway, sans-serif;
  }
  .div-intro-bouncing-arrow::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 25px;
    height: 25px;
    transform: translate(-50%) rotate(45deg);
    border-bottom: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
    border-radius: 4px;
    -moz-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-before-360;
    -webkit-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-before-360;
    animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-before-360;
  }
  .div-intro-bouncing-arrow::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 25px;
    height: 25px;
    transform: translate(-50%) rotate(45deg);
    border-bottom: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
    border-radius: 4px;
    -moz-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-after-360;
    -webkit-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-after-360;
    animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-after-360;
  }
  /*=========================== About ===========================*/
  .div-about-content-container {
    max-width: 320px;
  }
  /*------------------- about-carousel-globals ------------------*/
  .div-about-carousel-buttons-title {
    width: 100%;
    padding: 0 20px;
    justify-content: space-between;
  }
  .div-about-carousel-buttons-title button {
    width: 40px;
    font-size: 1.2rem;
  }
  .div-about-carousel-buttons-title h1 {
    width: auto;
    margin: 0 10px;
    font-size: 1.8rem;
    text-shadow: 2px 2px #000000;
  }
  .div-about-carousel-window {
    width: 200px;
    height: 220px;
  }
  .div-about-carousel-slide-container {
    width: 200px;
    height: 200px;
  }
  .div-about-carousel-inner-on-slide-two {
    right: 200px;
  }
  .div-about-carousel-inner-on-slide-three {
    right: 400px;
  }
  /*------------------ about-carousel-education -----------------*/
  .div-about-carousel-education-row a {
    margin-bottom: 10px;
    padding: 12px;
  }
  .div-about-carousel-education-row h2 {
    font-size: 1.2rem;
  }
  /*------------------- about-carousel-history ------------------*/
  .div-about-carousel-history-slide-content .section-phone-view {
    height: 160px;
  }
  .btn-about-history-college img {
    position: absolute;
    left: 0;
    top: -4px;
    min-width: 50px;
    width: 50px;
  }
  .div-about-carousel-history-slide-content h3 {
    font-size: 1.8rem;
  }
  .div-about-carousel-history-slide-content h3::after {
    border-bottom: 2px solid #0000f6;
  }
  .ul-about-history li {
    font-size: 1.4rem;
  }
}

@keyframes bounce-arrow-before-360 {
  from {
    top: -1vh;
  }
  to {
    top: 1vh;
  }
}

@keyframes bounce-arrow-after-360 {
  from {
    top: 2.2vh;
  }
  to {
    top: 4.2vh;
  }
}

/*=============================================================*/
/*============================ 320 ============================*/
/*=============================================================*/
@media screen and (max-width: 320px) {
  .div-intro-bouncing-arrow::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 25px;
    height: 25px;
    transform: translate(-50%) rotate(45deg);
    border-bottom: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
    border-radius: 4px;
    -moz-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-before-320;
    -webkit-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-before-320;
    animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-before-320;
  }
  .div-intro-bouncing-arrow::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 25px;
    height: 25px;
    transform: translate(-50%) rotate(45deg);
    border-bottom: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
    border-radius: 4px;
    -moz-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-after-320;
    -webkit-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-after-320;
    animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-after-320;
  }
  /*=========================== About ===========================*/
  .div-about-content-container {
    max-width: 250px;
  }
  /*------------------- about-carousel-globals ------------------*/
  .div-about-carousel-buttons-title {
    padding: 0 8px;
  }
  .div-about-carousel-buttons-title button {
    width: 35px;
    padding: 7px 0;
  }
  .div-about-carousel-buttons-title h1 {
    margin: 0 8px;
    font-size: 1.4rem;
    text-shadow: 1px 2px #000000;
  }
  .div-about-carousel-window {
    width: 160px;
    height: 200px;
  }
  .div-about-carousel-slide-container {
    width: 160px;
    height: 180px;
  }
  .div-about-carousel-inner-on-slide-two {
    right: 160px;
  }
  .div-about-carousel-inner-on-slide-three {
    right: 320px;
  }
  /*------------------ about-carousel-education -----------------*/
  .div-about-carousel-education-row a {
    margin-bottom: 10px;
    padding: 10px 5px;
  }
  .div-about-carousel-education-row h2 {
    font-size: 1.1rem;
  }
  .div-about-carousel-history-slide-content .section-phone-view {
    height: 140px;
  }
  /*------------------- about-carousel-history ------------------*/
  .btn-about-history-position {
    background-position: -6px center!important;
  }
  .btn-about-history-college img {
    position: absolute;
    left: 0;
    top: 2px;
    min-width: 40px;
    width: 40px;
  }
  .btn-about-history-coding {
    background-size: 30px auto;
    background-position: center 7px;
  }
  .div-about-carousel-history-slide-content h3 {
    font-size: 1.6rem;
  }
  .ul-about-history li {
    font-size: 1.2rem;
  }
}
@keyframes bounce-arrow-before-320 {
  from {
    top: -1vh;
  }
  to {
    top: 1vh;
  }
}
@keyframes bounce-arrow-after-320 {
  from {
    top: 2.2vh;
  }
  to {
    top: 4.2vh;
  }
}