/*=============================================================*/
/*=========================== Reset ===========================*/
/*=============================================================*/
html, body, div, span, applet, 
object, iframe, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 3.2rem;
  vertical-align: baseline;
}
h2 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 2.4rem;
  vertical-align: baseline;
}
h3 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1.872rem;
  vertical-align: baseline;
}
h4, p, a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1.6rem;
  vertical-align: baseline;
}
a:link {
  color: (internal value);
}
a:visited {
  color: (internal value);
}
a:link:active {
  color: (internal value);
}
a:visited:active {
  color: (internal value);
}
h5 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1.328rem;
  vertical-align: baseline;
}
h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1.072rem;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body,
#root {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  height: 100%;
  font-size: 62.5%;
  min-height: 100%;
}
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
img {
  width: 100%;
}

@font-face {
  font-family: "8 bit";
  src: url('./fonts/press-start-2-p-regular.eot'); /* IE9 Compat Modes */
  src: url('./fonts/press-start-2-p-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/press-start-2-p-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/press-start-2-p-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('./fonts/press-start-2-p-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./fonts/press-start-2-p-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/*=============================================================*/
/*========================== Globals ==========================*/
/*=============================================================*/
.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  background-image: linear-gradient(
    to right,
    rgba(0,135,206,0.8),
    rgba(0,135,206,0.8)
  ),url('./img/background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.display-none {
  display: none!important;
}
.display-flex-420 {
  display: none!important;
}
.remove-flex-420 {
  display: flex!important;
}
/*=============================================================*/
/*=========================== Header ==========================*/
/*=============================================================*/
.div-header-nav {
  display: block;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
}
.nav-desktop {
  display: flex;
  position: relative;
  justify-content: space-around;
  width: 100%;
}
.header-nav-link {
  color: #ffffff;
  text-decoration: none;
  padding: 2rem;
  transition: color 0.6s;
  user-select: none;
}
.header-nav-link:hover {
  color: #1e90ff;
  cursor: pointer;
}
.header-nav-link--active {
  color: #1e90ff;
}

/*--------------------------- mobile --------------------------*/
.nav-tablet {
  display: none;
  position: relative;
  width: 100%;
}
.nav-phone {
  display: none;
  position: relative;
  width: 100%;
}

/*=============================================================*/
/*=========================== Pages ===========================*/
/*=============================================================*/

/*=========================== Intro ===========================*/
.div-intro {
  position: relative;
  min-height: 100vh;
}
.div-intro-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  color: #ffffff;
}
.div-intro-content-container {
  display: block;
  width: 100%;
  max-width: 768px;
  padding: 0 9px;
  margin: -10% auto 0;
  text-align: center;
}
.div-intro-content-container h1 {
  font: 700 4rem/1.2 Raleway, sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 1.5rem 0;
}
.a-intro-bottom-click {
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
  height: 20vh;
  text-decoration: none;
  overflow: hidden;
}
.a-intro-bottom-click:hover {
  cursor: pointer;
}
.a-intro-bottom-click:hover .div-intro-bouncing-arrow::before {
  border-bottom: 5px solid rgba(0,0,0,0.7);
  border-right: 5px solid rgba(0,0,0,0.7);
}
.a-intro-bottom-click:hover .div-intro-bouncing-arrow::after {
  border-bottom: 5px solid rgba(0,0,0,0.7);
  border-right: 5px solid rgba(0,0,0,0.7);
}
.div-intro-bouncing-arrow {
  position: relative;
  width: 100%;
  height: 100%;
}
.div-intro-bouncing-arrow::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 25px;
  height: 25px;
  transform: translate(-50%) rotate(45deg);
  border-bottom: 4px solid #ffffff;
  border-right: 4px solid #ffffff;
  border-radius: 4px;
  -moz-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-before;
  -webkit-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-before;
  animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-before;
}
.div-intro-bouncing-arrow::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 25px;
  height: 25px;
  transform: translate(-50%) rotate(45deg);
  border-bottom: 4px solid #ffffff;
  border-right: 4px solid #ffffff;
  border-radius: 4px;
  -moz-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-after;
  -webkit-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-after;
  animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-after;
}

.div-intro-left-triangle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 20vh solid #ffffff;
  border-right: 100vw solid transparent;
}

.div-intro-right-triangle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-bottom: 20vh solid #ffffff;
  border-left: 100vw solid transparent;
}




@keyframes bounce-arrow-before {
  from {
    top: 0vh;
  }
  to {
    top: 2vh;
  }
}
@keyframes bounce-arrow-after {
  from {
    top: 3vh;
  }
  to {
    top: 5vh;
  }
}

/*=========================== About ===========================*/
.div-about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  Color: #ffffff;
  background-image: url('./img/blue-waves-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.div-about-content-container {
  display: block;
  width: 100%;
  max-width: 1024px;
  padding: 70px 12px 40px;
}
.div-about-carousel {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.5);
  border-radius: 2rem;
}
.div-about-carousel-window {
  overflow: hidden;
  max-width: 860px; /* 140px less than div-about-carousel */
  height: 790px;
  margin: 0 auto;
}
.div-about-carousel-inner {
  display: flex;
  position: relative;
  top: -40px;
  transition: right 0.5s ease-in-out;
}
.div-about-carousel-slide {
  display: block;
}
.button-about-fun-tab {
  background: none;
  color: #191970;
  font-size: 2.2rem;
  font-weight: 300;
  padding: 0.8rem 1.5rem;
  border: none;
  outline: none;
  user-select: none;
}
.button-about-fun-tab:hover {
  background: rgba(25,25,112,0.2);
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  cursor: pointer;
}
.button-about-fun-tab-selected {
  background: #191970;
  color: aqua;
  font-size: 2.2rem;
  font-weight: 300;
  padding: 0.8rem 1.5rem;
  border: none;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  outline: none;
  user-select: none;
}
.button-about-fun-tab-selected:hover {
  cursor: pointer;
}


.div-about-carousel-education-slide {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
.div-about-carousel-education-slide h1 {
  margin-bottom: 2rem;
  padding-left: 5px;
  font-size: 4rem;
  font-weight: 600;
  text-shadow: 0.3rem 0.4rem #000000;
}
.div-about-carousel-education-row {
  display: flex;
  width: 100%;
  background-color: #191970;
}
.div-about-carousel-education-row div {
  display: block;
  width: 50%;
  background-color: #191970;
}
.div-about-carousel-education-row img {
  margin-bottom: 20px;
}
.div-about-carousel-education-slide div h2 {
  padding: 2rem;
  color: #00ffff;
}
.img-about-carousel-education-associates {
  width: 400px;
}
.img-about-carousel-education-bachelors {
  width: 400px;
}
.img-about-carousel-education-badge {
  width: 265px;
}
.img-about-carousel-education-books {
  width: 400px;
}
.div-about-carousel-history-slide {
  display: block;
  width: 100%;
  text-align: center;
}
.div-about-carousel-history-slide h1 {
  margin-bottom: 2rem;
  font-size: 4rem;
  font-weight: 600;
  text-shadow: 0.3rem 0.4rem #000000;
}
.div-about-carousel-history-slide h2 {
  font-size: 3.2rem;
  width: 100%;
  color: #009DFF;
  margin-bottom: 20px;
  text-decoration: underline;
}
.div-about-carousel-history-slide .row {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.div-about-carousel-history-slide .row h3 {
  margin-left: -10px;
}
.h3-about-history-built {
  padding: 10px 10px 10px 48px;
  color: #191970;
  font-size: 3rem;
  text-align: left;
  background: url('./img/built.svg');
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: 0px 3px;
}
.h3-about-history-position {
  padding: 10px 10px 10px 48px;
  color: #191970;
  font-size: 3rem;
  text-align: left;
  background: url('./img/positions_held.svg');
  background-repeat: no-repeat;
  background-size: 75px auto;
  background-position: -20px -8px;
}
.h3-about-history-college {
  position: relative;
  padding: 10px 10px 10px 30px;
  color: #191970;
  font-size: 3rem;
  text-align: left;
}
.h3-about-history-college img {
  position: absolute;
  left: -10px;
  top: -17px;
  min-width: 60px;
  width: 60px;
  max-width: 60px;
  min-height: 50px;
  height: 50px;
  max-height: 50px;
  transform: rotate(-45deg);
}
.h3-about-history-coding {
  padding: 10px 10px 10px 48px;
  color: #191970;
  font-size: 3rem;
  text-align: left;
  background: url('./img/coding_bootcamp.gif');
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: 0px 5px;
}
.ul-about-history {
  width: 410px;
  max-width: 410px;
  margin-top: 10px;
  padding-right: 10px;
  text-align: left;
}
.ul-about-history li {
  position: relative;
  font-size: 2rem;
  font-weight: 700;
  color: #191970;
  margin-bottom: 10px;
}
.ul-about-history span {
  color: #0087ce;
}
.span-nes-logo {
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-family: "8 bit";
  color: #ff0000;
  background-color: #000000;
  padding: 5px 6px 5px 8px;
  user-select: none;
}
.p-snes-logo span {
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-family: "8 bit";
  background-color: #000000;
  user-select: none;
}
.p-snes-logo span:first-child {
  color: #0000f6;
  background-color: #000000;
  padding: 5px 0 5px 8px;
}
.p-snes-logo span:nth-child(2) {
  color: #00ac3e;
  background-color: #000000;
  padding: 5px 0;
}
.p-snes-logo span:nth-child(3) {
  color: #f60000;
  background-color: #000000;
  padding: 5px 0;
}
.p-snes-logo span:last-child {
  color: #f4f012;
  background-color: #000000;
  padding: 5px 4px 5px 0;
}
.div-sega-cd-logo {
  padding-left: 80px;
  background: url('./img/sega-cd.svg');
  background-size: 75px 23px;
  background-position: center left;
  background-repeat: no-repeat;
}
.div-sega-logo {
  padding-left: 80px;
  background: url('./img/sega.svg');
  background-size: 75px 23px;
  background-position: center left;
  background-repeat: no-repeat;
}
.div-ps-one-logo {
  padding-left: 35px;
  background: url('./img/ps-one.svg');
  background-size: 30px 23px;
  background-position: center left;
  background-repeat: no-repeat;
}
.div-ps-two-logo {
  padding-left: 80px;
  background: url('./img/ps-two.jpg');
  background-size: 75px 23px;
  background-position: center left;
  background-repeat: no-repeat;
}
.div-neo-geo-logo {
  padding-left: 28px;
  background: url('./img/neo-geo.png');
  background-size: 23px 23px;
  background-position: center left;
  background-repeat: no-repeat;
}
.div-arcade-logo {
  padding-left: 82px;
  background: url('./img/arcade.png');
  background-size: 77px 23px;
  background-position: center left;
  background-repeat: no-repeat;
}
.div-pc-gamer-logo {
  padding-left: 75px;
  background: url('./img/pc-gamer.svg');
  background-size: 80px 80px;
  background-position: center left;
  background-repeat: no-repeat;
}
.div-about-fun {
  display: block;
  width: 100%;
}
.div-about-fun h1 {
  margin-bottom: 2rem;
  padding-right: 15px;
  font-size: 4rem;
  font-weight: 600;
  text-shadow: 0.3rem 0.4rem #000000;
  text-align: center;
}
.div-about-fun-buttons {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}
.div-about-fun-buttons button {
  position: absolute;
  height: 54px;
  width: 57.53px;
  color: #ffffff;
  background-color: #0087ce;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}
.div-about-fun-buttons button:hover {
  color: #0087ce;
  background-color: #ffffff;
}
.div-about-fun-buttons .down-to-bottom span:first-child {
  position: absolute;
  font-size: 45px;
  bottom: 25px;
  left: 17px;
}
.div-about-fun-buttons .down-to-bottom span:last-child {
  position: absolute;
  font-size: 45px;
  bottom: 5px;
  left: 17px;
}
.div-about-fun-buttons .down span {
  position: absolute;
  font-size: 45px;
  bottom: 14px;
  left: 17px;
}
.div-about-fun-buttons .up span {
  position: absolute;
  font-size: 45px;
  top: 12px;
  left: 17px;
  transform: rotate(180deg);
}
.div-about-fun-buttons .up-to-top span:first-child {
  position: absolute;
  font-size: 45px;
  top: 5px;
  left: 17px;
  transform: rotate(180deg);
}
.div-about-fun-buttons .up-to-top span:last-child {
  position: absolute;
  font-size: 45px;
  top: 25px;
  left: 17px;
  transform: rotate(180deg);
}
.div-about-fun-buttons .down-to-bottom {
  right: 6px;
  top: 130px;
}
.div-about-fun-buttons .down {
  right: 6px;
  bottom: 10px;
}
.div-about-fun-buttons .up {
  right: 6px;
  top: 130px;
}
.div-about-fun-buttons .up-to-top {
  right: 6px;
  bottom: 10px;
}
.div-about-fun-content {
  overflow: hidden;
}
.div-about-fun-content-lists {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
  transition: top 0.5s ease-in-out;
}
.div-about-fun-content-lists ul {
  width: 100%;
  max-width: 260px;
  height: 340px;
  padding: 0;
  margin: 0 40px 0 0;
  list-style-type:none;
}
.div-about-fun-content-lists ul:nth-child(3n) {
  margin-right: 0;
}
.div-about-fun-content-lists ul li {
  margin-bottom: 1.5rem;
}
.div-about-fun-content-lists ul p {
  color: #191970;
  line-height: 2.5rem;
  font-weight: 700;
  font-size: 1.6rem;
}
.div-about-fun-content-lists ul a {
  text-decoration: none;
}

.div-about-fun-tabs {
  display: flex;
  width: 70%;
  border-bottom: 2px solid #191970;
  margin: 3rem auto 2rem;
}
.div-about-fun-imdb-icon {
  /* vertical-align: middle; */
  padding-left: 35px;
  /* background-color: black; */
  background-image: url('./img/imdb.svg');
  background-size: 33px 23px;
  background-repeat: no-repeat;
}
.div-about-fun-youtube-icon {
  vertical-align: middle;
  padding-left: 35px;
  background-image: url('./img/youtube-icon.svg');
  background-size: 33px 23px;
  background-repeat: no-repeat;
}

.div-about-carousel-buttons {
  position: relative;
  top: 48px;
  display: flex;
  justify-content: space-between;
  width: 520px;
  max-width: 520px;
  margin: 0 auto;
}
.div-about-carousel-buttons button {
  font-size: 3rem;
  padding: 1rem 2rem;
  color: #ffffff;
  background-color: #0087ce;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}
.div-about-carousel-buttons button:hover {
  color: #0087ce;
  background-color: #ffffff;
}

/*=============================================================*/
/*===================== Responsive Design =====================*/
/*=============================================================*/

/*============================ 3500 ===========================*/
/* @media(max-width: 3500px) {} */

/*============================ 2600 ===========================*/
/* @media(max-width: 2600px) {} */

/*============================ 2000 ===========================*/
/* @media(max-width: 2000px) {} */

/*============================ 1500 ===========================*/
/* @media(max-width: 1500px) {} */

/*============================ 1200 ===========================*/
@media (max-width: 1200px) {
  /*--------------------------- Header --------------------------*/
  .nav-desktop {display: none;}
  .nav-tablet {display: block;}
  .div-nav-tablet-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .div-nav-tablet-row a {
    color: #ffffff;
    text-decoration: none;
    padding: 2rem;
  }
  .div-nav-tablet-row a:active {
    color: #1e90ff;
  }
  /*--------------------------- Intro ---------------------------*/
  .div-intro-content-container {
    margin-top: -15%;
  }
  .div-intro-bouncing-arrow::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 25px;
    height: 25px;
    transform: translate(-50%) rotate(45deg);
    border-bottom: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
    border-radius: 4px;
    -moz-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-before-1200;
    -webkit-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-before-1200;
    animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-before-1200;
  }
  .div-intro-bouncing-arrow::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 25px;
    height: 25px;
    transform: translate(-50%) rotate(45deg);
    border-bottom: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
    border-radius: 4px;
    -moz-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-after-1200;
    -webkit-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-after-1200;
    animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-after-1200;
  }
  /*--------------------------- About ---------------------------*/
  .div-about-content-container { padding: 140px 12px 40px; } /* Room for header */
}
@keyframes bounce-arrow-before-1200 {
  from {
    top: 0vh;
  }
  to {
    top: 1vh;
  }
}
@keyframes bounce-arrow-after-1200 {
  from {
    top: 3vh;
  }
  to {
    top: 4vh;
  }
}

/*============================ 1024 ===========================*/
@media screen and (max-width: 1024px) {
  /*--------------------------- About ---------------------------*/
  .div-about-content-container { max-width: 768px; }
}

/*============================ 992 ============================*/
@media screen and (max-width: 992px) {
  /*--------------------------- Header --------------------------*/
  .header-nav-link:hover {
    color: #ffffff;
    cursor: auto;
  }
  /*--------------------------- Intro ---------------------------*/
  .a-intro-bottom-click:hover {
    cursor: auto;
  }
  .a-intro-bottom-click:hover .div-intro-bouncing-arrow::before {
    border-bottom: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
  }
  .a-intro-bottom-click:hover .div-intro-bouncing-arrow::after {
    border-bottom: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
  }
}

/*============================ 768 ============================*/
@media screen and (max-width: 768px) {
  /*--------------------------- Header --------------------------*/
  .nav-tablet {display: none;}
  .nav-phone {display: block;}
  .div-header-hamburger {
    display: block;
    width: 50px;
    margin-left: auto;
    padding: 1rem;
    cursor: pointer;
  }
  .div-header-hamburger span:first-child {
    display: block;
    position: relative;
    background-color: rgba(255,255,255,0.8);
    width: 3rem;
    height: 0.3rem;
    margin-bottom: 0.7rem;
  }
  .div-header-hamburger span:nth-child(2) {
    display: block;
    background-color: rgba(255,255,255,0.8);
    width: 3rem;
    height: 0.3rem;
    margin-bottom: 0.7rem;
    visibility: hidden;
  }
  .div-header-hamburger span:last-child {
    display: block;
    position: relative;
    background-color: rgba(255,255,255,0.8);
    width: 3rem;
    height: 0.3rem;
  }
  /*--------------------------- Intro ---------------------------*/
  .div-intro-content-container {
    max-width: 576px;
  }
  .div-intro-content-container h1 {
    font: 700 2.7rem/1.2 Raleway, sans-serif;
  }
  .div-intro-content-container p {
    font-size: 1.5rem;
  }
  .div-intro-content-container p:first-child {
    margin: -4rem 0 1.5rem 0;
  }
  /*--------------------------- About ---------------------------*/
  .div-about-content-container {
    max-width: 576px;
    padding: 70px 12px 40px;
  }
}

/*============================ 576 ============================*/
@media screen and (max-width: 576px) {
  /*--------------------------- Intro ---------------------------*/
  .div-intro-content-container {
    max-width: 420px;
  }
  .div-intro-content-container p:not(:last-child) {
    margin: 0 0 2rem 0;
  }
  .div-intro-content-container h1 {
    margin: 0 0 2rem 0;
  }
  .div-intro-bouncing-arrow::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 25px;
    height: 25px;
    transform: translate(-50%) rotate(45deg);
    border-bottom: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
    border-radius: 4px;
    -moz-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-before-576;
    -webkit-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-before-576;
    animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-before-576;
  }
  
  .div-intro-bouncing-arrow::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 25px;
    height: 25px;
    transform: translate(-50%) rotate(45deg);
    border-bottom: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
    border-radius: 4px;
    -moz-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-after-576;
    -webkit-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-after-576;
    animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-after-576;
  }
  /*--------------------------- About ---------------------------*/
  .div-about-content-container {
    max-width: 420px;
  }
}

@keyframes bounce-arrow-before-576 {
  from {
    top: -1vh;
  }
  to {
    top: 1vh;
  }
}

@keyframes bounce-arrow-after-576 {
  from {
    top: 2vh;
  }
  to {
    top: 4vh;
  }
}

/*============================ 420 ============================*/
@media screen and (max-width: 420px) {
  /*-------------------------- Globals --------------------------*/
  .display-flex-420 {
    display: flex!important;
  }
  .remove-flex-420 {
    display: none!important;
  }
  /*--------------------------- Intro ---------------------------*/
  .div-intro-content-container {
    max-width: 360px;
  }
  .div-intro-bouncing-arrow::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 25px;
    height: 25px;
    transform: translate(-50%) rotate(45deg);
    border-bottom: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
    border-radius: 4px;
    -moz-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-before-420;
    -webkit-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-before-420;
    animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-before-420;
  }
  
  .div-intro-bouncing-arrow::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 25px;
    height: 25px;
    transform: translate(-50%) rotate(45deg);
    border-bottom: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
    border-radius: 4px;
    -moz-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-after-420;
    -webkit-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-after-420;
    animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-after-420;
  }
  /*--------------------------- About ---------------------------*/
  .div-about-content-container {
    max-width: 360px;
  }
}

@keyframes bounce-arrow-before-420 {
  from {
    top: -1vh;
  }
  to {
    top: 1vh;
  }
}

@keyframes bounce-arrow-after-420 {
  from {
    top: 2.2vh;
  }
  to {
    top: 4.2vh;
  }
}

/*============================ 360 ============================*/
@media screen and (max-width: 360px) {
  /*--------------------------- Intro ---------------------------*/
  .div-intro-content-container {
    max-width: 320px;
  }
  .div-intro-content-container p {
    font-size: 1.4rem;
  }
  .div-intro-content-container h1 {
    font: 700 1.9rem/1.2 Raleway, sans-serif;
  }
  .div-intro-bouncing-arrow::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 25px;
    height: 25px;
    transform: translate(-50%) rotate(45deg);
    border-bottom: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
    border-radius: 4px;
    -moz-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-before-360;
    -webkit-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-before-360;
    animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-before-360;
  }
  
  .div-intro-bouncing-arrow::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 25px;
    height: 25px;
    transform: translate(-50%) rotate(45deg);
    border-bottom: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
    border-radius: 4px;
    -moz-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-after-360;
    -webkit-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-after-360;
    animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-after-360;
  }
  /*--------------------------- About ---------------------------*/
  .div-about-content-container {
    max-width: 320px;
  }
}

@keyframes bounce-arrow-before-360 {
  from {
    top: -1vh;
  }
  to {
    top: 1vh;
  }
}

@keyframes bounce-arrow-after-360 {
  from {
    top: 2.2vh;
  }
  to {
    top: 4.2vh;
  }
}

/*============================ 320 ============================*/
@media screen and (max-width: 320px) {
  .div-intro-bouncing-arrow::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 25px;
    height: 25px;
    transform: translate(-50%) rotate(45deg);
    border-bottom: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
    border-radius: 4px;
    -moz-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-before-320;
    -webkit-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-before-320;
    animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-before-320;
  }
  
  .div-intro-bouncing-arrow::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 25px;
    height: 25px;
    transform: translate(-50%) rotate(45deg);
    border-bottom: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
    border-radius: 4px;
    -moz-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-after-320;
    -webkit-animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-after-320;
    animation: 0.3s ease-out 0.3s infinite alternate bounce-arrow-after-320;
  }
}
@keyframes bounce-arrow-before-320 {
  from {
    top: -1vh;
  }
  to {
    top: 1vh;
  }
}
@keyframes bounce-arrow-after-320 {
  from {
    top: 2.2vh;
  }
  to {
    top: 4.2vh;
  }
}